/* Cambio lo sfondo della pagina */
body {
  background-image: url('https://i.imgur.com/uV25Hl2.jpg');
  background-repeat: no-repeat;
	background-attachment: fixed;
	height: fit-content;
}

/* Cambio il colore del titolo e del testo a verde scuro */
h1,h2, p {
  color: darkgreen;
}

/* Cambio il colore del bordo e del bottone a verde */
.form-group {
  padding: 10px;
  background-color: rgb(76, 174, 76);
  border-radius: 15px;
}

/* Cambio il colore della scritta testo a bianco */
label {
  position: relative;
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: white;
}

/*cambio lo stile del testo in obliquo*/
p {
  font-style: italic;
}

/*allineo il titolo al centro*/
h1 {
  text-align: center;
}

/*cambio lo stile della scritta 'testo'*/
#testo {
  font-weight: lighter ;
  font-family: Arial, Helvetica, sans-serif;
}

/*cambio lo stile del pulsante per l'analisi del testo*/
#analisi_testo, input::file-selector-button {
  color: white;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(76, 174, 76);
  padding: 5px;
}

/*cambio lo stile dei pulsanti quando il cursore ci passa sopra*/
#analisi_testo:hover, input::file-selector-button:hover {
  background-color: darkgreen;
  cursor: pointer;
}