/* Cambio il colore di sfondo della pagina a verde chiaro */
body {
  background-color: lightgreen;
}

/* Cambio il colore del titolo e del testo a verde scuro */
h1,h2, p {
  color: darkgreen;
}

/* Cambio il colore del bordo e del bottone a verde */
.form-group {
  padding: 10px;
  background-color: rgb(76, 174, 76);
  border-radius: 15px;
}

/* Cambio il colore della scritta testo a bianco */
label {
  position: relative;
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: white;
}

/* Cambio l'intestazione degli li che si generano dall'analisi*/
li {
 
  padding: 2%;

}

/*cambio lo stile del testo in obliquo*/
p {
  font-style: italic;
}

/*allineo il titolo al centro*/
h1 {
  text-align: center;
}

/* Aggiungo un'ombra al form e al div del risultato
button, form, #risultato {
  box-shadow: 5px 5px 10px gray;
  border-radius: 25px;
}
*/

#testo {
  font-weight: lighter ;
  font-family: Arial, Helvetica, sans-serif;
}

input::file-selector-button {
  color: white;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  background-color: rgb(76, 174, 76);
}

/*Per centrare la scritta ERRORE nel popup*/
.modal-title {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

